.current {
  color: green;
}

nav {
  width: 100%;
  background-color: $dark-blue;
  @include flex(row, flex-end, center);
  @include mobile {
    height: 300px;
  }
  @include tablet {
    height: 100px;
  }

  ul {
    height: 100%;
    margin-right: $page-end-margin;
    @include mobile {
      width: 100%;
      margin-right: 0px;
      margin: 30px;
      @include flex(column, center, flex-start);
    }
    @include tablet {
      width: 80%;
      @include flex(row, space-around, center);
    }
  }

  li {
    height: 100%;
    letter-spacing: 1px;
    list-style-type: none;
    cursor: pointer;
    color: $grey;
    padding-left: 10px;
    padding-right: 10px;
    @include flex(row, center, center);

    &:hover {
      border-top: 5px solid $light-blue;
    }

    @include mobile {
      border-top: 5px solid $grey;
    }
    @include tablet {
      border-top: none;
    }
  }
}
