
//
// VARIABLES
//

// FONT
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// COLORS
$dark-blue: #145E72;
$light-blue: #27A9B1;
$light-grey: #B8CED1;
$black: #2E2E2E;

// FLEXBOX
@mixin flex($direction: row, $horizontal: center, $vertical: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

// BREAKPOINTS
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}
