// FLEXBOX
@mixin flex($direction: row, $horizontal: center, $vertical: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

// BREAKPOINTS
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}
