// COLORS
$dark-blue: #145E72;
$light-blue: #27A9B1;
$grey: #B8CED1;
$black: #2E2E2E;

// BREAKPOINTS
$desktop: 1200px;
$laptop: 950px;
$tablet: 768px;
$mobile: 300px;

// MARGINS
$page-end-margin: 50px;
$vertical-section-margin: 20px;

// FONT
$roboto-condensed: 'Roboto Condensed', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// FONT SIZES
$paragraph: 15px;
$sub-sub-title: 20px;
$sub-title: 25px;
$section-title: 30px;
$hero: 100px;
